/* Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.welcome {
  align-content: center;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  background-image: url("https://www.livemint.com/lm-img/img/2023/10/17/1600x900/Nifty_1669509049999_1697549337980.jpg");
}
.welcome h1 {
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 20px;
}
.welcome p {
  background-color: aliceblue;
  font-size: 1rem;
  margin-bottom: 20px;
}
.mainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.mainContent h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.mainContent p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.favoritesTableBox {
  flex: 0 0 15%;
  background-color: aliceblue;
  align-self: flex-start;
  padding: 20px;
  margin-left: 20px;
  text-justify: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.favoritesTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.favoritesChartsBox {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}
.favoritesChartsMsg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  justify-content: center;
  font-weight: bold;
  margin: 20px;
}
.favoritesChartsMsg h2 {
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 20px;
}
.favoritesChartsMsg img {
  width: 400px;
  margin-right: 10px;
  justify-content: center;
}
.tableStyle {
  width: 70%;
  border-collapse: collapse;
  margin-top: 50px;
  align-items: center;
  border: 1px solid #dee2e6;
}

.headerRowStyle {
  background-color: #72a6da;
}

.headerCellStyle {
  padding: 10px;
  border: 1px solid #dee2e6;
  font-weight: bold;
}

.rowStyle {
  border-bottom: 1px solid #dee2e6;
}

.rowStyle:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.cellStyle {
  padding: 10px;
}
