/* Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.homeContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.homeContent h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.homeContent p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.favoritesTableBox {
  background-color: aliceblue;
  width: 40%;
  align-self: flex-start;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.favoritesTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.favoritesCharts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.tableStyle {
  width: 70%;
  border-collapse: collapse;
  margin-top: 50px;
  align-items: center;
  border: 1px solid #dee2e6;
}

.headerRowStyle {
  background-color: #72a6da;
}

.headerCellStyle {
  padding: 10px;
  border: 1px solid #dee2e6;
  font-weight: bold;
}

.rowStyle {
  border-bottom: 1px solid #dee2e6;
}

.rowStyle:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.cellStyle {
  padding: 10px;
}
