.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.namePrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  background-color: #72a6da;
  font-weight: bold;
  margin: 20px;
}
.namePrice h3 {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.priceContainer {
  position: "relative";
  display: "flex";
  background-color: aliceblue;
}
.charts {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.lineChart {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 450px;
}
.barChart {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 1rem;
  margin: 20px;
}
