.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.charts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.lineChart {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}
.barChart {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
}
.namePrice {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #72a6da;
  font-weight: bold;
  margin: 20px;
}
button {
  background-color: #72a6da;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
